.settingsHeader {
  max-height: var(--header-height);
  min-height: var(--header-height);
  width: 100%;
  transition: min-height 0.3s;
  background-color: var(--bg-main);
  position: relative;
  z-index: var(--z-index-account-settings-header);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04), 0 2px 18px rgba(0, 0, 0, 0.1);
}

.settingsHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  max-width: var(--header-max-width);
  margin: 0 auto;
  position: relative;
  z-index: var(--z-index-account-settings-header);
}

.settingsHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.settingsHeaderNav {
  display: flex;
  width: 100%;
}

.settingsHeaderList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.settingsHeaderItem {
  border-radius: 1.5625rem;
  border: 0.125rem solid transparent;
  cursor: pointer;
}

.settingsHeaderItem:hover {
  border-color: var(--border-default);
}

.settingsHeaderItemActive {
  border-color: var(--border-default);
}

.settingsHeaderLink {
  padding: 0.5rem 0.75rem;
  line-height: var(--line-height-base);
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-default);
  font-family: var(--font-inter), Helvetica, sans-serif;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-lg);
}
