.accountEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.accountEmailHeading {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-600);
  margin: 0 0 1rem 0;
}

.accountEmailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: -webkit-fill-available;
  background-color: var(--bg-main);
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--border-default);
}

.accountEmailFieldGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.accountEmailDescription {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-500);
  color: var(--text-default);
}

.accountEmailButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.accountEmailButton {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-500);
  font-family: var(--font-inter);
  color: var(--text-default);
  border: none;
  cursor: pointer;
}
