.accountAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.accountAddressHeading {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-600);
  margin-bottom: 1rem;
}

.accountAddressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: -webkit-fill-available;
  background-color: var(--bg-main);
  padding: 1rem;
  border-radius: var(--border-radius-lg);
}

.accountAddressFieldGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.accountAddressDescriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accountAddressDescription {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-500);
  color: var(--text-default);
  margin: 0;
}

.accountAddressButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.accountAddressButton {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-500);
  font-family: var(--font-inter);
  color: var(--text-default);
  border: none;
  cursor: pointer;
}
