.accountOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.accountOptionsHeading {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-600);
  margin-bottom: 16px;
}

.accountFields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accountFieldGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: -webkit-fill-available;
  background-color: var(--bg-main);
  padding: 1rem;
  border-radius: var(--border-radius-lg);
}

.accountField {
  width: 100%;
}

.accountLogoutButtonText {
  margin-left: 8px;
}
