.languages-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.languageFlag {
  width: 2rem;
  height: 2rem;
}

.languageText {
  font-size: 1rem;
  color: var(--text-default);
}
