.accountName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.accountNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  background-color: var(--bg-main);
  padding: 1rem;
  border-radius: var(--border-radius-xs);
}

.accountNameFieldGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.accountNameDescription {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-700);
  color: var(--text-default);
}

.accountNameButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.accountNameButton {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-700);
  color: var(--text-default);
  border: none;
  cursor: pointer;
}
