.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: var(--account-max-width);
  height: 100%;
  width: 100%;
  margin: 4rem auto;
}

@media (max-width: 768px) {
  .profileContent {
    flex-direction: column;
    gap: 24px;
  }
}
