.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.profileContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: var(--header-max-width);
  height: 100%;
  width: 100%;
  margin: 4rem auto 0 auto;
}

.profileLeft,
.profileRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
}

@media (max-width: 768px) {
  .profileContent {
    flex-direction: column;
    gap: 24px;
  }
}
