.accountHeader {
  max-height: 6rem;
  min-height: 6rem;
  width: 100%;
  transition: min-height 0.3s;
  border-bottom: 1px solid var(--border-default);
  background-color: var(--bg-main);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.accountHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  max-width: var(--header-max-width);
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.accountHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.accountHeaderLogo {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-700);
  color: var(--text-primary);
}

.accountHeaderLogo a {
  color: inherit;
  text-decoration: none;
}
