:root {
  --font-inter: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --header-height: 5.5rem;
  --header-max-width: 1440px;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --line-height-base: 1.5;
}

[data-theme="light"] {
  --bg-main: #ffffff;
  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --border-default: rgba(0, 0, 0, 0.1);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

[data-theme="dark"] {
  --bg-main: #121212;
  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border-default: rgba(255, 255, 255, 0.15);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

[data-theme="black"] {
  --bg-main: #000000;
  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border-default: rgba(255, 255, 255, 0.15);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

:root:not([data-theme]) {
  --bg-main: #ffffff;
  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --border-default: rgba(0, 0, 0, 0.1);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

body {
  color: var(--text-default);
  background-color: var(--bg-main);
  font-family: var(--font-inter), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-base);
  font-size: var(--font-size-md);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
