:root {
  --font-inter: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --bg-main: #ffffff;
  --text-default: #000000;
  --border: rgba(0, 0, 0, 0.1);
  --color-presenter: #ffa861;
  --color-visuals: #4dffa2;
  --color-videoplayer: #b24dff;
}

[data-theme="light"] {
  --bg-main: #ffffff;
  --text-default: #000000;
  --border: rgba(0, 0, 0, 0.1);
  --color-presenter: #ffa861;
  --color-visuals: #4dffa2;
  --color-videoplayer: #b24dff;
}

[data-theme="dark"] {
  --bg-main: #000000;
  --text-default: #ffffff;
  --border: rgba(255, 255, 255, 0.15);
  --color-presenter: #ffa24d;
  --color-visuals: #4dffa2;
  --color-videoplayer: #b24dff;
}

body {
  color: var(--text-default);
  background-color: var(--bg-main);
  font-family: var(--font-inter), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 5.5rem);
  margin-top: 5.5rem;
}
