:root {
  --font-inter: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --bg-main: #ffffff;
  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --border-default: rgba(0, 0, 0, 0.1);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

[data-theme="light"] {
  --bg-main: #ffffff;
  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --border-default: rgba(0, 0, 0, 0.1);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

[data-theme="dark"] {
  --bg-main: #121212;
  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border-default: rgba(255, 255, 255, 0.15);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

[data-theme="black"] {
  --bg-main: #000000;
  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border-default: rgba(255, 255, 255, 0.15);
  --color-app: #2196f3;
  --color-presenter: #ff7c2c;
  --color-visuals: #00cc66;
  --color-videoplayer: #9933ff;
  --color-red: #f32121;
}

body {
  color: var(--text-default);
  background-color: var(--bg-main);
  font-family: var(--font-inter), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
