.languagesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
  color: var(--text-default);
  height: calc(100vh - var(--header-height));
  width: 100%;
}

.languagesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: var(--header-max-width);
  height: 100%;
  width: 100%;
}

.languagesContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.languagesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchbar {
  width: 100%;
}

.topLanguagesList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  width: 100%;
  border-bottom: 1px solid var(--border-default);
  margin: 0;
  padding: 2rem 0;
  list-style: none;
}

.otherLanguagesList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  list-style: none;
}

.languageItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}

.languageFlag {
  width: 2rem;
  height: 1.5rem;
}
