.accountFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accountFormContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accountForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.accountFields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accountFieldGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.accountField {
  width: 100%;
}

.accountActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 16px;
}

.accountForm .accountActions .accountButton {
  padding: 12px 28.8px;
  border: 0.225rem solid var(--text-default);
  border-radius: 2rem;
  min-width: 100%;
  font-size: 1.125rem;
  line-height: 1.5rem;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  color: var(--bg-main) !important;
  font-weight: 600;
  background-color: var(--text-default);
  cursor: pointer;
}

.accountButton:hover {
  transform: scale(1.05);
}

.divider {
  border-top: 1px solid var(--border-default);
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
  height: 1px;
  text-align: center;
  font-size: 0.875rem;
}

.dividerText {
  background-color: var(--bg-main);
  padding: 0 0.5em;
  position: relative;
  color: var(--text-default);
  top: -0.75em;
}

.accountButton {
  padding: 12px 28.8px;
  border: 0.225rem solid var(--text-default);
  border-radius: 2rem;
  width: 100%;
  max-width: 320px;
  min-width: 200px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  text-decoration: none;
  color: var(--text-default);
  font-weight: 600;
  background-color: var(--bg-main);
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.accountForm .accountActions .accountButton {
  padding: 12px 28.8px;
  border: 0.225rem solid var(--text-default);
  border-radius: 2rem;
  width: 100%;
  max-width: 320px;
  min-width: 200px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  color: var(--bg-main) !important;
  font-weight: 600;
  background-color: var(--text-default);
  cursor: pointer;
}

.accountButton:hover {
  transform: scale(1.05);
}
