.helpSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
  color: var(--text-default);
  height: calc(100vh - var(--header-height));
  width: 100%;
}

.helpContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: var(--header-max-width);
  height: 100%;
  width: 100%;
}

.helpContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
