.accountContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.accountContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  max-width: var(--header-max-width);
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .accountContent {
    flex-direction: column;
    gap: 24px;
  }
}
